*, 
*:before, 
*:after{ 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
} 
body {
    height: 100vh;
    margin: 0;
    background-image: url("../img/i.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container{ 
    width: 40%; 
    top: 50%; 
    left: 50%; 
    background: wheat; 
    border-radius: 10px; 
    min-width: 450px; 
    position: absolute; 
    min-height: 100px; 
    transform: translate(-50%,-50%); 
} 
#newtask{ 
    position: relative; 
    padding: 30px 20px; 
} 
#newtask input{ 
    width: 75%; 
    height: 45px; 
    padding: 12px; 
    color: #111111; 
    font-weight: 500; 
    position: relative; 
    border-radius: 5px; 
    font-family: 'Poppins',sans-serif; 
    font-size: 15px; 
    border: 2px solid #d1d3d4; 
} 
 
#newtask input:focus{ 
    outline: none; 
    border-color: #0d75ec; 
} 
#newtask button{ 
    position: relative; 
    float: right; 
    font-weight: 500; 
    font-size: 16px; 
    background-color: #06cf61; 
    border: none; 
    color: #ffffff; 
    cursor: pointer; 
    outline: none; 
    width: 20%; 
    height: 45px; 
    border-radius: 5px; 
    font-family: 'Poppins',sans-serif; 
}
#newtask button svg {
    width: 20px;
    height: 20px;
    fill: #ffffff;
}
#tasks{ 
    border-radius: 10px; 
    width: 100%; 
    position: relative; 
    background-color: wheat;
    padding: 30px 20px; 
    margin-top: 10px; 
} 
 
.task{ 
    border-radius: 5px; 
    align-items: center; 
    justify-content: space-between; 
    border: 1px solid #939697; 
    cursor: pointer; 
    background-color: #c5e1e6; 
    height: 50px; 
    margin-bottom: 8px; 
    padding: 5px 10px; 
    display: flex; 
} 
.task span{ 
    font-family: 'Poppins',sans-serif; 
    font-size: 15px; 
    font-weight: 400; 
} 
.task button{ 
    background-color: #07c563; 
    color: #ffffff; 
    border: none; 
    cursor: pointer; 
    outline: none; 
    height: 100%; 
    width: 40px; 
    border-radius: 5px; 
} 